button {
	background:#196bd1 -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.3)), to(rgba(255,255,255,.1)));
	border:1px solid;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.2) rgba(0,0,0,.5) rgba(0,0,0,.2);
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255,255,255,.3), 0 1px 2px 0 rgba(0,0,0,.3);
	border-radius:12px;
	color:#fff;
	font-size:10px;
	font-weight:normal;
	line-height:1;
	width:92px;
	padding:2px 0 3px;
	text-align:center;
	text-shadow:0 -1px 1px rgba(0,0,0,.1);
	margin-right:.5em;
	-webkit-box-sizing:border-box;
	/*
	-webkit-background-clip: padding-box;
	*/
	-webkit-transition: all .2s ease-in;
}
button.red {
	background-color:#f96161;
}

button:hover {
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.2)), to(rgba(255,255,255,.05)));
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255,255,255,.2);
	cursor:pointer;
	text-shadow:0 -1px 1px rgba(0,0,0,.2);
}

button:active {
	background-image:none;
	border:1px solid rgba(0,0,0,.5);
	-webkit-box-shadow:inset 0 0 6px 3px rgba(0,0,0,.2), 0 1px 0 0 #fff;
	text-shadow:0 -1px 1px rgba(0,0,0,.4);
}

button[disabled], button.disabled,
button[disabled]:hover, button.disabled:hover,
button[disabled]:active, button.disabled:active {
	background-color:#aaa;
	color:#999;
	box-shadow:none;
	border-color:rgba(0,0,0,.2);
	-webkit-box-shadow:none;
	cursor:not-allowed;
	text-shadow:0 1px 1px rgba(255,255,255,.5);
}

a {
	color:#08C;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}