@import 'reset.css';
@import 'buttons.css';

html {
	height:100%;
	overflow:hidden;
}
body {
	padding:0 4px;
	height:100%;
	-webkit-user-select: none;
	user-select: none;
}

#popover {
	height:100%;
	position:relative;
	background:url(../images/popup-shadow.png) 50% 170px no-repeat;
}

#controls {
	position:absolute;
	bottom:4px;
	left:0;
	right:0;
	padding-top:6px;
}


#styleslist {
	font:normal 11px Helvetica;
	position:absolute;
	top:4px;
	bottom:32px;
	overflow:auto;
}
#styleslist li {
	display:block;
	width:170px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin:0;
	line-height:20px;
	height:20px;
	padding:0 8px 0 16px;
	color:#666;
	cursor:default;
	position: relative;
}
#styleslist li:before {
	content:'';
	position: absolute;
	left:7px;
	top:9px;
	width: 6px;
	height: 6px;
	border-radius:50%;
	-webkit-transform: translate(-50%,-50%);
	border:1px solid transparent;
}
#styleslist li.off:before {
	background: #aaa;
	border-color:#999;
}
#styleslist li.on:before {
	background:#40c74a;
	border-color:#2ea72d;
	color:#000;
}
#styleslist li.nostyles:before {
	background:#fa615b;
	border-color:#dd4844;
}
#styleslist li:hover {
	color:#000;
	cursor:pointer;
}


#find, #manage {
	margin:0;
}
#find {
	float:left;
}
#manage {
	float:right;
}

/* ANIMATION */

.ani {
	transition:all 200ms ease-in-out;
}