@import 'reset.css';
@import 'buttons.css';

html {
	height:100%;
	overflow:hidden;
	background:url(../images/red.png) -100px 0 no-repeat;
}
body {
	padding:0 4px;
	height:100%;
	-webkit-user-select: none;
	user-select: none;
	background:url(../images/green.png) -100px 0 no-repeat;
}

#popover {
	height:100%;
	position:relative;
	background:url(../images/popup-shadow.png) 50% 170px no-repeat;
}

#controls {
	position:absolute;
	bottom:4px;
	left:0;
	right:0;
	padding-top:6px;
}


#styleslist {
	font:normal 11px Helvetica;
	position:absolute;
	top:4px;
	bottom:32px;
	overflow:auto;
}
#styleslist li {
	display:block;
	width:170px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin:0;
	line-height:20px;
	height:20px;
	padding:0 8px 0 16px;
	background: 0 0 no-repeat;
	color:#666;
	cursor:default;
}
#styleslist li.off {
	background-image:url(../images/grey.png);
}
#styleslist li.on {
	background-image:url(../images/green.png);
	color:#000;
}
#styleslist li.nostyles {
	background-image:url(../images/red.png);
}
#styleslist li:hover {
	color:#000;
	cursor:pointer;
}


#find, #manage {
	margin:0;
}
#find {
	float:left;
}
#manage {
	float:right;
}

/* ANIMATION */

.ani {
	transition:all 200ms ease-in-out;
}