<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Vladimir Sobolev</string>
	<key>Builder Version</key>
	<string>13604.3.5</string>
	<key>CFBundleDisplayName</key>
	<string>Stylish</string>
	<key>CFBundleIdentifier</key>
	<string>com.sobolev.stylish</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.8</string>
	<key>CFBundleVersion</key>
	<string>2.0.8</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>findmore</string>
				<key>Identifier</key>
				<string>findmore</string>
				<key>Title</key>
				<string>Find styles for this website</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<integer>0</integer>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>200</real>
				<key>Identifier</key>
				<string>popup</string>
				<key>Width</key>
				<real>200</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>stylish</string>
				<key>Image</key>
				<string>toolbar_icon.png</string>
				<key>Label</key>
				<string>Stylish</string>
				<key>Popover</key>
				<string>popup</string>
				<key>Tool Tip</key>
				<string>Stylish</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>assets/script.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Customize your favorite web sites with your own custom CSS styles</string>
	<key>DeveloperIdentifier</key>
	<string>5555L95H45</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://sobolev.us/download/stylish/update.plist</string>
	<key>Website</key>
	<string>https://fbapp.us</string>
</dict>
</plist>
